.title {
  text-align: center;
  padding-top: 2vh;
}

.no-reservations{
  text-align: center;
}

.card {
  background-color: #f0f2f1;
  width: 80%;
  max-width: 600px;
  margin: auto;
  border-radius: 0.3vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  color: #01013b;
  margin-bottom: 7px;
}

.card img {
  width: 100%;
}

.btn {
  padding: 0.2vw;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.btn:hover {
  background-color: rgba(1, 1, 59, 0.638);
}

@media screen and (min-width: 700px) {
  
}