.roomList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.roomList div {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 20px;
  width: 80%;
  max-width: 500px;
}

.roomList div img {
  width: 100%;
  height: 100%;
}

.roomList button {
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  background-color: red;
}

.roomList button:hover {
  background-color: rgba(255, 0, 0, 0.58);
}
