* {
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: #f0f2f1;
  overflow-x: hidden;
}

.home-header {
  margin-top: 7rem;
  letter-spacing: 5px;
}

.home-text {
  font-size: 15px;
  color: #787276;
}

.home-hotel-list {
  margin-left: 4rem;
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
