.login {
  position: relative;
  background: url("../assets/image/HbRKeaFa_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(2, 2, 69, 0.486);
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

.content {
  padding: 20px 20px;
  background-color: white;
}

.content form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: max-content;
}

.content form input {
  width: 300px;
  padding: 10px 10px;
  box-sizing: border-box;
  outline: none;
  margin: 5px 0;
  cursor: pointer;
}

.content form input[type="submit"] {
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-color: rgb(2, 2, 69);
  margin-top: 5vh;
}

.content form input[type="submit"]:hover {
  background-color: rgba(2, 2, 69, 0.73);
}

.content p {
  color: black;
  text-align: center;
}

.content p button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
}

.content p button:hover {
  color: rgba(2, 2, 69, 0.73);
}
