.roomList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.roomList span {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
}

.roomList button {
    background-color: red;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
}

.roomList button:hover {
    background-color: #670000;
}