.Navbar {
  min-height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr);
  color: white;
}

.Navbar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.Navbar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.Navbar li {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.Navbar li:hover {
  color: rgba(255, 255, 255, 0.8);
  scale: 1.1;
}


@media only screen and (max-width: 768px) {
  .Navbar {
    display: none;
  }
}