:root {
  --clr: #a73d00;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgba(128, 128, 128, 0.105);
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}